body {
    background-image: url("../images/02.jpeg");
    background-size: cover;
    width: 75%;
    margin: 0 auto;
}

#doc-header {
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
}