body {
    background: rgb(145, 14, 14);
    width: 75%;
    margin: 0 auto;
}

#doc-header {
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 20px;

}

#movie-form {
    margin: 10px;
}

#movies-table {
    margin: 10px auto;
}
